* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: Arial, sans-serif;
}

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
  
  h1 {
    text-transform: capitalize;
  }

  .header-buttons {
    display: flex;

    button {
      text-transform: uppercase;
      padding: 10px 20px;
      color: #fff;
      border-radius: 5px;
      border: none;

      &:hover {
        cursor: pointer;
      }

      &#add-product-btn {
        background-color: #84ca08;
        margin-right: 20px;

        &:hover {
          background-color: #0fca00;
          transition: background-color 0.2s;
        }

      }

      &#delete-product-btn, &.cancelBtn {
        background-color: #DB5C4C;

        &:hover {
          background-color: #db281b;
          transition: background-color 0.2s;
        }

      }
    }

  }

  @media all and (max-width: 576px) {
    flex-direction: column;

    h1 {
      margin-bottom: 10px;
    }
  }

}

main {
  padding: 20px 0;
  flex-grow: 1;
}

.no-products {
  text-align: center;
  font-size: 1.25rem;
  width: 100%;
}

/*Product list page styles*/
.product-list-wrapper {

  .product-list-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }


  .product {
    overflow: hidden;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 22%;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    margin-right: 4%;
    display: flex;
    flex-direction: column;

    &:nth-of-type(4n+4) {
      margin-right: 0;

      @media all and (max-width: 992px) {
        margin-right: 5%;
      }
    }

    .product-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      justify-content: center;

      p {
        margin-bottom: 5px;

        &.product-id {
          text-transform: uppercase;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    @media all and (max-width: 992px) {
      width: 30%;
      margin-right: 5%;

      &:nth-of-type(3n+3) {
        margin-right: 0;
      }
    }

    @media all and (max-width: 768px) {
      width: 45%;
      margin-right: 10%;

      &:nth-of-type(3n+3) {
        margin-right: 10%;
      }

      &:nth-of-type(even) {
        margin-right: 0;
      }
    }

    @media all and (max-width: 576px) {
      width: 100%;
      margin-right: 0;

      &:nth-of-type(3n+3) {
        margin-right: 0;
      }


    }

  }
}

/*Add product page*/
#product_form {

  .main-characteristics {

    .charact {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      align-items: center;

      @media all and (max-width: 768px) {
        flex-wrap: wrap;
      }

      label {
        width: 10%;

        @media all and (max-width: 992px) {
          width: 15%;
        }

        @media all and (max-width: 768px) {
          width: 20%;
        }

        @media all and (max-width: 576px) {
          width: 25%;
        }

        @media all and (max-width: 420px) {
          width: 100%;
        }
      }

      input {
        border: 1px solid #0a8ddb;
        border-radius: 5px;
        padding: 5px 10px;
        box-sizing: border-box;
        position: relative;
        appearance: none;

        @media all and (max-width: 420px) {
          flex-grow: 1;
        }

        &:focus {
          border: 1px solid #0a8ddb;
          outline: none;
        }

      }


    }


  }

  .type-switcher {
    padding: 10px 0;
    display: flex;
    align-items: center;



    &>p {
      font-weight: bold;
      margin-right: 10px;
    }

    select {
      border: 1px solid #0a8ddb;
      border-radius: 5px;
      padding: 5px 10px;
    }

  }

  .switch-characteristics {

    #DVD,
    #Book,
    #Furniture {
      display: none;
    }

    #DVD .size,
    #Book .weight,
    #Furniture div{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 10px;

      label {
        width: 10%;

        @media all and (max-width: 992px) {
          width: 15%;
        }

        @media all and (max-width: 768px) {
          width: 20%;
        }

        @media all and (max-width: 576px) {
          width: 25%;
        }

        @media all and (max-width: 420px) {
          width: 100%;
        }
      }

      input {
        border: 1px solid #0a8ddb;
        border-radius: 5px;
        padding: 5px 10px;
        appearance: auto;

        @media all and (max-width: 420px) {
          flex-grow: 1;
        }

        &:focus {
          border: 1px solid #0a8ddb;
          outline: none;
        }

      }

    }

    .charact-descr {
      border: 1px solid #0a8ddb;
      background-color: rgba(62, 168, 219, 0.25);
      padding: 10px;
      border-radius: 5px;
    }

  }


  .charactHideErr::after,
  .charactShowErr::after {
    content: 'Please, provide the data of indicated type';
    color: #000;
    border: 2px solid #f00;
    background-color: rgba(255, 0, 0, 0.25);
    padding: 2px 5px;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
  }

  .charactShowErr::after {
    display: inline-block;
  }

  .charactHideErr::after {
    display: none;
  }


}

.sku_exists {
  display: none;
  border-radius: 5px;
  padding: 2px 5px;
  border: 1px solid red;
  width: 100%;
  margin-top: 5px;

  @media all and (max-width: 768px) {
    margin-left: 0;
    margin-top: 5px;
  }
}

.price_example {
  display: none;
  width: 100%;
  margin-top: 5px;
  border: 1px solid red;
  padding: 2px 5px;
  border-radius: 5px;
}

footer {
  padding-top: 20px;
  border-top: 2px solid #000;
  
  p {
    text-align: center;
  }
}