* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: Arial, sans-serif;
}

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
}
header h1 {
  text-transform: capitalize;
}
header .header-buttons {
  display: flex;
}
header .header-buttons button {
  text-transform: uppercase;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  border: none;
}
header .header-buttons button:hover {
  cursor: pointer;
}
header .header-buttons button#add-product-btn {
  background-color: #84ca08;
  margin-right: 20px;
}
header .header-buttons button#add-product-btn:hover {
  background-color: #0fca00;
  transition: background-color 0.2s;
}
header .header-buttons button#delete-product-btn, header .header-buttons button.cancelBtn {
  background-color: #DB5C4C;
}
header .header-buttons button#delete-product-btn:hover, header .header-buttons button.cancelBtn:hover {
  background-color: #db281b;
  transition: background-color 0.2s;
}
@media all and (max-width: 576px) {
  header {
    flex-direction: column;
  }
  header h1 {
    margin-bottom: 10px;
  }
}

main {
  padding: 20px 0;
  flex-grow: 1;
}

.no-products {
  text-align: center;
  font-size: 1.25rem;
  width: 100%;
}

/*Product list page styles*/
.product-list-wrapper .product-list-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.product-list-wrapper .product {
  overflow: hidden;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 22%;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  margin-right: 4%;
  display: flex;
  flex-direction: column;
}
.product-list-wrapper .product:nth-of-type(4n+4) {
  margin-right: 0;
}
@media all and (max-width: 992px) {
  .product-list-wrapper .product:nth-of-type(4n+4) {
    margin-right: 5%;
  }
}
.product-list-wrapper .product .product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
.product-list-wrapper .product .product-info p {
  margin-bottom: 5px;
}
.product-list-wrapper .product .product-info p.product-id {
  text-transform: uppercase;
}
.product-list-wrapper .product .product-info p:last-of-type {
  margin-bottom: 0;
}
@media all and (max-width: 992px) {
  .product-list-wrapper .product {
    width: 30%;
    margin-right: 5%;
  }
  .product-list-wrapper .product:nth-of-type(3n+3) {
    margin-right: 0;
  }
}
@media all and (max-width: 768px) {
  .product-list-wrapper .product {
    width: 45%;
    margin-right: 10%;
  }
  .product-list-wrapper .product:nth-of-type(3n+3) {
    margin-right: 10%;
  }
  .product-list-wrapper .product:nth-of-type(even) {
    margin-right: 0;
  }
}
@media all and (max-width: 576px) {
  .product-list-wrapper .product {
    width: 100%;
    margin-right: 0;
  }
  .product-list-wrapper .product:nth-of-type(3n+3) {
    margin-right: 0;
  }
}

/*Add product page*/
#product_form .main-characteristics .charact {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  align-items: center;
}
@media all and (max-width: 768px) {
  #product_form .main-characteristics .charact {
    flex-wrap: wrap;
  }
}
#product_form .main-characteristics .charact label {
  width: 10%;
}
@media all and (max-width: 992px) {
  #product_form .main-characteristics .charact label {
    width: 15%;
  }
}
@media all and (max-width: 768px) {
  #product_form .main-characteristics .charact label {
    width: 20%;
  }
}
@media all and (max-width: 576px) {
  #product_form .main-characteristics .charact label {
    width: 25%;
  }
}
@media all and (max-width: 420px) {
  #product_form .main-characteristics .charact label {
    width: 100%;
  }
}
#product_form .main-characteristics .charact input {
  border: 1px solid #0a8ddb;
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
  position: relative;
  appearance: none;
}
@media all and (max-width: 420px) {
  #product_form .main-characteristics .charact input {
    flex-grow: 1;
  }
}
#product_form .main-characteristics .charact input:focus {
  border: 1px solid #0a8ddb;
  outline: none;
}
#product_form .type-switcher {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#product_form .type-switcher > p {
  font-weight: bold;
  margin-right: 10px;
}
#product_form .type-switcher select {
  border: 1px solid #0a8ddb;
  border-radius: 5px;
  padding: 5px 10px;
}
#product_form .switch-characteristics #DVD,
#product_form .switch-characteristics #Book,
#product_form .switch-characteristics #Furniture {
  display: none;
}
#product_form .switch-characteristics #DVD .size,
#product_form .switch-characteristics #Book .weight,
#product_form .switch-characteristics #Furniture div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}
#product_form .switch-characteristics #DVD .size label,
#product_form .switch-characteristics #Book .weight label,
#product_form .switch-characteristics #Furniture div label {
  width: 10%;
}
@media all and (max-width: 992px) {
  #product_form .switch-characteristics #DVD .size label,
#product_form .switch-characteristics #Book .weight label,
#product_form .switch-characteristics #Furniture div label {
    width: 15%;
  }
}
@media all and (max-width: 768px) {
  #product_form .switch-characteristics #DVD .size label,
#product_form .switch-characteristics #Book .weight label,
#product_form .switch-characteristics #Furniture div label {
    width: 20%;
  }
}
@media all and (max-width: 576px) {
  #product_form .switch-characteristics #DVD .size label,
#product_form .switch-characteristics #Book .weight label,
#product_form .switch-characteristics #Furniture div label {
    width: 25%;
  }
}
@media all and (max-width: 420px) {
  #product_form .switch-characteristics #DVD .size label,
#product_form .switch-characteristics #Book .weight label,
#product_form .switch-characteristics #Furniture div label {
    width: 100%;
  }
}
#product_form .switch-characteristics #DVD .size input,
#product_form .switch-characteristics #Book .weight input,
#product_form .switch-characteristics #Furniture div input {
  border: 1px solid #0a8ddb;
  border-radius: 5px;
  padding: 5px 10px;
  appearance: auto;
}
@media all and (max-width: 420px) {
  #product_form .switch-characteristics #DVD .size input,
#product_form .switch-characteristics #Book .weight input,
#product_form .switch-characteristics #Furniture div input {
    flex-grow: 1;
  }
}
#product_form .switch-characteristics #DVD .size input:focus,
#product_form .switch-characteristics #Book .weight input:focus,
#product_form .switch-characteristics #Furniture div input:focus {
  border: 1px solid #0a8ddb;
  outline: none;
}
#product_form .switch-characteristics .charact-descr {
  border: 1px solid #0a8ddb;
  background-color: rgba(62, 168, 219, 0.25);
  padding: 10px;
  border-radius: 5px;
}
#product_form .charactHideErr::after,
#product_form .charactShowErr::after {
  content: "Please, provide the data of indicated type";
  color: #000;
  border: 2px solid #f00;
  background-color: rgba(255, 0, 0, 0.25);
  padding: 2px 5px;
  border-radius: 5px;
  width: 100%;
  margin-top: 5px;
}
#product_form .charactShowErr::after {
  display: inline-block;
}
#product_form .charactHideErr::after {
  display: none;
}

.sku_exists {
  display: none;
  border-radius: 5px;
  padding: 2px 5px;
  border: 1px solid red;
  width: 100%;
  margin-top: 5px;
}
@media all and (max-width: 768px) {
  .sku_exists {
    margin-left: 0;
    margin-top: 5px;
  }
}

.price_example {
  display: none;
  width: 100%;
  margin-top: 5px;
  border: 1px solid red;
  padding: 2px 5px;
  border-radius: 5px;
}

footer {
  padding-top: 20px;
  border-top: 2px solid #000;
}
footer p {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
